/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Section ===== */
.about-us {
  padding: 64px 20px;
}

.container {
  max-width: 335px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 
}

/* ===== Title ===== */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 40px;
}

/* ===== Slider ===== */
.about-swiper {
  position: relative;
  width: 335px;
  height: 402px;
  margin-bottom: 24px;
}

/* ===== Slide ===== */
.about-slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
}

.about-img {
  width: 335px;
  height: 402px;
  object-fit: cover;
  
}

.about-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 150%;
  color: #F6F4F1;
  padding: 8px;
  
}

/* ===== Controls: Pagination + Buttons ===== */

.about-controls {
  display: flex;
  width: 335px;
  height: 64px;
  flex-direction: row;
  align-items: center;          
  justify-content: space-between;      
  gap: 16px;
  padding-right: 8px;                
  /* margin-top: 24px;              */
  /* width: 100%; */
}
/* .about-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 335px;
  margin: 24px auto 0 auto;
} */

/* Pagination ліворуч */
.swiper-pagination {
  display: flex;
  justify-content: flex-start;
  transform: none !important;
  margin: 0;
  gap: 8px;
  align-items: center;
  position: static !important;
  background: rgba(255,0,0,0.1);
}

/* Динамічні булети */
.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #02060A;
  opacity: 1;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet-next,
.swiper-pagination-bullet-prev {
  width: 6px;
  height: 6px;
}

/* Navigation праворуч */
.about-nav {
  display: flex;
  gap: 8px;
  /* margin-right: 8px; */
}


.swiper-btn {
  width: 48px;
  height: 48px;
  border: 1px solid #C3B49D;
  border-radius: 8px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px;
}
/* .swiper-btn {
  width: 48px;
  height: 48px;
  border: 1px solid #C3B49D;
  border-radius: 8px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */